<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!--<div th:fragment="head (title)" >-->
<!--<title><span th:text="${title}"></span></title>-->
<!--</div>-->
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="icon" href="../static/img/paw_2.png" th:href="@{/img/paw_2.png}"/>
</head>

<body>

<div th:fragment="footer">
    <footer class="footer uk-flex">
        <span class="uk-margin-auto">2019 Codeup. For Educational Purposes Only.</span>
    </footer>
</div>

<div th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

</div>

</body>
</html>